<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.db.ErrandMapper">

	<!-- 심부름 요청 -->
	<insert id="requireErrand" parameterType="com.ic.model.ErrandDTO">
		INSERT INTO ERRAND VALUES(ERRAND_SEQ.NEXTVAL, #{member_id}, #{title}, #{content}, #{errand_ctgr}, #{price}, SYSDATE, #{location_ctgr}, #{req_location}, #{req_date}, 0, NULL, #{want_date})
	</insert>

</mapper>