<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.db.ErrandMapper">

	<!-- 심부름 요청 -->
	<insert id="requireErrand" parameterType="com.ic.model.ErrandDTO">
		INSERT INTO ERRAND VALUES(ERRAND_SEQ.NEXTVAL, #{member_id}, #{title}, #{content}, #{errand_ctgr}, #{price}, SYSDATE, #{location_ctgr}, #{req_location}, #{req_date}, 0, NULL, #{want_date})
	</insert>
	
	<!--  심부름 목록 -->
	<select id="errandList" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND
	</select>
	
	<!-- 심부름 상세정보 -->
	<select id="errandInfo" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND WHERE ERRAND_ID = #{errand_id}
	</select>
	
	<!-- 닉네임 호출 -->
	<select id="getNickname" resultType="String">
		SELECT NICKNAME FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 심부름 지원 체크 -->
	<select id="checkApply" parameterType="com.ic.model.ApplyCheckDTO" resultType="com.ic.model.ApplyDTO">
		SELECT * FROM APPLY WHERE ERRAND_ID = #{errand_id} AND MEMBER_ID = #{client_member_id}
	</select>
	
	<!-- 요청심부름 목록 불러오기 -->
	<select id="Loadlist" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND WHERE MEMBER_ID=#{member_id}	
	</select>
	

</mapper>