<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.db.ErrandMapper">

	<!-- 심부름 요청 -->
	<insert id="requireErrand" parameterType="com.ic.model.ErrandDTO">
    INSERT INTO ERRAND 
    VALUES (ERRAND_SEQ.NEXTVAL, 
            #{member_id}, 
            #{title}, 
            #{content}, 
            #{errand_ctgr}, 
            #{price}, 
            SYSDATE, 
            #{location_ctgr}, 
            #{req_location}, 
            TO_DATE(#{req_date}, 'YYYY-MM-DD"T"HH24:MI'), 
            0, 
            NULL, 
            TO_DATE(#{want_date}, 'YYYY-MM-DD"T"HH24:MI'))
</insert>
	
	<!--  심부름 목록 -->
	<select id="errandList" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND
	</select>
	
	<!-- 심부름 상세정보 -->
	<select id="errandInfo" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND WHERE ERRAND_ID = #{errand_id}
	</select>
	
	<!-- 닉네임 호출 -->
	<select id="getNickname" resultType="String">
		SELECT NICKNAME FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 심부름 지원 체크 -->
	<select id="checkApply" parameterType="com.ic.model.ApplyCheckDTO" resultType="com.ic.model.ApplyDTO">
		SELECT * FROM APPLY WHERE ERRAND_ID = #{errand_id} AND MEMBER_ID = #{client_member_id}
	</select>
	
	<!-- 요청심부름 목록 불러오기 -->
	<select id="Loadlist" parameterType="int" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND WHERE MEMBER_ID=#{member_id}	
	</select>
	
	<select id="getNicknames" resultType="String">
		SELECT NICKNAME FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- RequiredErrandService에서 client_id로 요청된 심부름 리스트화 -->
	<select id="GetErrandInfo" resultType="com.ic.model.ErrandDTO">
		SELECT * FROM ERRAND WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 위에서 얻어온 errand데이터 중 errand_id로 Apply테이블에 해당 심부름번호로 지원한 지원자들 리스트화 -->
	<select id="GetApplyMember" parameterType="com.ic.model.ErrandDTO" resultType="com.ic.model.ApplyDTO">
		SELECT * FROM APPLY WHERE ERRAND_ID = #{errand_id}
	</select>

	<!-- 위에서 얻어온 지원자들 닉네임 리스트화 -->
	<select id="GetApplyMembersNickname" resultType="String">
		SELECT NICKNAME FROM MEMBER WHERE MEMBER_ID = #{appMemberId}
	</select>
	
	<!-- 지원자 선택시 심부름 상태 1로 변경 -->
	<update id="ChangeErrStatus">
		UPDATE ERRAND SET STATUS = 1 WHERE ERRAND_ID = #{errand_id}
	</update>

	<!-- 지원자 선택시 지원테이블 매칭 상태 1로 변경 -->
	<update id="ChangeAppStatus" parameterType="com.ic.model.ApplyCheckDTO">
		UPDATE APPLY SET MATCH_STATUS = 1 WHERE ERRAND_ID = #{errand_id} AND MEMBER_ID = #{client_member_id}
	</update>
	
	<!-- 지원자 선택시 다른 지원자들 매칭 상태 2로 변경 -->
	<update id="DeleteOtherApply" parameterType="com.ic.model.ApplyCheckDTO">
		UPDATE APPLY SET MATCH_STATUS = 2 WHERE ERRAND_ID = #{errand_id} AND MEMBER_ID NOT IN (#{client_member_id})
	</update>
	
	<!-- 선택한 지원자 옆 완료버튼을 누르면 심부름테이블 상태 2로 변경 -->
	<update id="CompleteErrand">
		UPDATE ERRAND SET STATUS = 2 WHERE ERRAND_ID = #{errand_id}
	</update>
	
	<!-- 요청자가 지원자 옆 완료버튼을 누르면 해당 지원자 매칭상태 4로 변경 -->
	<update id="CompleteErrandApply">
		UPDATE APPLY SET MATCH_STATUS = 4 WHERE ERRAND_ID = #{errand_id} AND MEMBER_ID = #{client_member_id}
	</update>
	
	<!-- 요청자가 후기 작성 시 심부름 상태 3으로 변경 -->
	<update id="ChgErrStatus">
		UPDATE ERRAND SET STATUS = 3 WHERE ERRAND_ID = #{errand_id}
	</update>
	
	<!-- 요청한 심부름 요청 취소 -->
	<delete id="RequireCancelService">
		DELETE FROM ERRAND WHERE ERRAND_ID = #{errand_id}
	</delete>
	
	<!-- 요청한 심부름 요청 취소 ==> 지원자 모두 삭제 -->
	<delete id="ApplyCancelService">
		DELETE FROM APPLY WHERE ERRAND_ID = #{errand_id}
	</delete>
	
	<!-- 요청한 심부름번호로 등록된 채팅 모두 삭제 -->
	<delete id="DeleteChat">
		DELETE FROM CHAT WHERE ERRAND_ID = #{errand_id}
	</delete>
	
	<!-- 심부름 확정 클릭시 요청자 보유금액 차감 -->
	<update id="deduceRequireMoney">
        UPDATE MEMBER
        SET MONEY = MONEY - (SELECT PRICE FROM ERRAND WHERE MEMBER_ID = #{member_id})
        WHERE member_id = #{member_id}
    </update>
    
    <!-- 심부름 확정 클릭시 지원자 보유금액 증가 -->
	<update id="reduceApplyMoney">
        UPDATE MEMBER
        SET MONEY = MONEY + (SELECT PRICE FROM ERRAND WHERE MEMBER_ID = #{member_id}) + 2000
        WHERE member_id = #{member_id}
    </update>
    
    <!-- 심부름 지원자 미선택시 지원자 보유금액 증가 -->
	<update id="originalApplyAmount">
        UPDATE MEMBER
        SET MONEY = MONEY + 2000
        WHERE member_id = #{member_id}
    </update>
    
    <!-- 지원자 테이블서 -->
    <select id="getApplyMemberIdByErrandId" resultType="int" parameterType="int">
        SELECT MEMBER_ID
        FROM APPLY
        WHERE ERRAND_ID = #{errand_id}
    </select>
	
</mapper>