<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MemberMaper">

	<insert id="join" parameterType="com.ic.model.MemberDTO" >
		insert into MEMBER values(MEMBER_SEQ.NEXTVAL ,#{id}, #{email}, #{phone}, #{nickname}, #{pw}, #{address}, #{age}, #{gender}, 0)	
	</insert>
	
	<select id="login" parameterType="com.ic.model.MemberDTO" resultType="com.ic.model.MemberDTO">
		select * from MEMBER where id=#{id} and pw=#{pw}
	</select>
	
	<select id="change" parameterType="com.ic.model.MemberDTO" resultType="com.ic.model.MemberDTO">
		select pw from MEMBER where id=#{id}
	</select>
	
</mapper>