<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.db.ReviewMapper">
	
	<!-- 자신의 좋아요를 가져오는 메퍼 -->
	<select id="getLike" resultType="int">
		select u_like from review where member_id=#{member_id} and review_ctgr=1
	</select>
	
	<!-- 자신의 싫어요를 가져오는 메퍼 -->
	<select id="getDisLike" resultType="int">
		select u_dislike from review where member_id=#{member_id} and review_ctgr=1
	</select>
	
	<!-- 나에 대한 후기 내용을 가져오는 메퍼 -->
	<select id="getReview1" resultType="com.ic.model.ReviewDTO">
		select * from review where member_id=#{member_id} and review_ctgr=1
	</select>
	
	<!-- 내가 쓴 후기 내용을 가져오는 메퍼 -->
	<select id="getReview0" resultType="com.ic.model.ReviewDTO">
		select * from review where member_id=#{member_id} and review_ctgr=0
	</select>
	
	<!-- 후기 작성할 때 대상자 닉네임 호출 -->
	<select id="GetNickname_r" resultType="String">
		SELECT NICKNAME FROM MEMBER WHERE MEMBER_ID = #{subject_id}
	</select>
	
	<!-- 상대에 대한 좋은 리뷰 작성 -->
	<insert id="WriteLikeReview_s" parameterType="com.ic.model.ReviewDTO">
		INSERT INTO REVIEW VALUES (REVIEW_SEQ.NEXTVAL, #{member_id}, #{review_ctnt}, 1, 1, 0, #{errand_review_ctgr}, #{nickname})
	</insert>
	
	<!-- 상대에 대한 좋지 않은 리뷰 작성 -->
	<insert id="WriteDislikeReview_s" parameterType="com.ic.model.ReviewDTO">
		INSERT INTO REVIEW VALUES (REVIEW_SEQ.NEXTVAL, #{member_id}, #{review_ctnt}, 1, 0, 1, #{errand_review_ctgr}, #{nickname})
	</insert>
	
	<!-- 내가 작성한 좋은 리뷰 -->
	<insert id="WriteLikeReview_c" parameterType="com.ic.model.ReviewDTO">
		INSERT INTO REVIEW VALUES (REVIEW_SEQ.NEXTVAL, #{member_id}, #{review_ctnt}, 0, 1, 0, #{errand_review_ctgr}, #{nickname})
	</insert>
	
	<!-- 내가 작성한 좋지 않은 리뷰 -->
	<insert id="WriteDislikeReview_c" parameterType="com.ic.model.ReviewDTO">
		INSERT INTO REVIEW VALUES (REVIEW_SEQ.NEXTVAL, #{member_id}, #{review_ctnt}, 0, 0, 1, #{errand_review_ctgr}, #{nickname})
	</insert>
	
	<!-- 지원테이블에 매칭상태 4로 -->
	<update id="DeleteApply" parameterType="com.ic.model.ApplyCheckDTO">
		UPDATE APPLY SET MATCH_STATUS=4 WHERE MEMBER_ID = #{client_member_id} AND ERRAND_ID = #{errand_id} 
	</update>

</mapper>