 .u-section-1 {
  background-image: linear-gradient(white, #ff9962);
}

.u-section-1 .u-sheet-1 {
  min-height: 160px;
}

.u-section-1 .u-btn-1 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: 63px auto 0 943px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 0 807px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -42px auto 0 82px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 0 197px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 0 401px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 60px 604px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 784px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 648px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 41px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 242px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 564px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 428px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 41px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 384px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 248px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 48px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}@font-face {
  font-family: 'JalnanGothicTTF';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JalnanGothicTTF.ttf");
}

#defaultImg{
	margin-top: 40px;
	margin-bottom: 5px;
	border-radius: 50%;
	width: 500px;
}

@font-face{
font-family:'DNFBitBitv2';
font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

#noAppText{
	font-family: DNFBitBitv2;
	font-size: 30px;
	color: #444;
}