.u-section-1 .u-sheet-1 {
  min-height: 451px;
}


.u-section-1 .u-btn-1 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: 64px 81px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px 217px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -44px auto 0 82px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 0 198px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 0 401px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-family: JalnanGothicTTF;
  font-weight: 400;
  font-size: 1.8125rem;
  margin: -40px auto 0 604px;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 440px;
  min-height: 271px;
  height: auto;
  margin: 20px auto 0 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-family: JalnanGothicTTF;
  margin: 21px 29px 0 30px;
}

.u-section-1 .u-group-2 {
  width: 280px;
  min-height: 271px;
  height: auto;
  margin: -271px 361px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 24px;
}

.u-section-1 .u-text-2 {
  font-family: JalnanGothicTTF;
  margin: 3px 28px 0 0;
}

.u-section-1 .u-group-3 {
  width: 280px;
  min-height: 271px;
  height: auto;
  margin: -271px 82px 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 24px 18px;
}

.u-section-1 .u-text-3 {
  font-family: JalnanGothicTTF;
  margin: 1px 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 784px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 17px;
    margin-left: 648px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 242px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 445px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 599px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 322px;
    margin-left: 434px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 322px;
    margin-left: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 564px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 428px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 41px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 212px;
    margin-left: 324px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 212px;
    margin-left: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 384px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 248px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 45px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 238px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 260px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-right: 122px;
    margin-left: 234px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 122px;
    margin-left: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 48px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 22px;
    margin-left: 134px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
    margin-left: 134px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-family: JalnanGothicTTF;
  margin: 72px 69px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 700px;
  }

  .u-section-2 .u-text-1 {
    width: 940px;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 528px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 1002px;
  font-family: JalnanGothicTTF;
  margin: 71px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 700px;
  }

  .u-section-3 .u-text-1 {
    width: 940px;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'JalnanGothicTTF';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JalnanGothicTTF.ttf");
}
@font-face {
    font-family: 'YEONGJUPunggiGinsengTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#textStyle {
 	font-family: YEONGJUPunggiGinsengTTF;
}

/* 밑으로 복사 */

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
 
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #ebf3f9;
  color: #fff;
  font-family: GangwonEduPowerExtraBoldA;
}

tr{
	font-family: SUITE-Regular;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgb(255, 255, 255);
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color:#f5f9fc;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
