 .u-section-1 {
 	background-image: linear-gradient(white, #ff9962);
 }

 .u-section-1 .u-sheet-1 {
 	min-height: 1267px;
 }

 .u-section-1 .u-group-1 {
 	width: 569px;
 	min-height: 974px;
 	box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
 	height: auto;
 	--radius: 50px;
 	margin: 60px auto;
 }

 .u-section-1 .u-container-layout-1 {
 	padding: 30px 0 0;
 }

 .u-section-1 .u-form-1 {
 	height: 789px;
 	--checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
 	width: 500px;
 	margin: 0 auto;
 }

 .u-section-1 .u-label-1 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-1 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-label-2 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-2 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-3 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-3 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-3 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-4 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-4 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-4 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-5 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-5 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-5 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-6 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-6 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-6 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-7 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-7 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-7 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-8 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-8 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-8 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-form-group-9 {
 	margin-left: 0;
 }

 .u-section-1 .u-label-9 {
 	font-size: 1rem;
 	letter-spacing: normal;
 	text-transform: none;
 	font-family: JalnanGothicTTF;
 }

 .u-section-1 .u-input-9 {
 	font-weight: normal;
 	font-family: JalnanGothicTTF;
 	font-size: 0.875rem;
 }

 .u-section-1 .u-btn-1 {
 	border-style: none;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	background-image: none;
 	width: 100%;
 	font-weight: 400;
 	font-family: JalnanGothicTTF;
 	padding: 19px 0 20px;
 }

 .u-section-1 .u-group-2 {
 	min-height: 88px;
 	margin-bottom: 0;
 	margin-top: 15px;
 	height: auto;
 	--radius: 50px;
 }

 .u-section-1 .u-container-layout-2 {
 	padding-left: 34px;
 	padding-right: 34px;
 }

 .u-section-1 .u-btn-2 {
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-weight: 400;
 	font-family: JalnanGothicTTF;
 	margin: 0 auto 0 0;
 	padding: 23px 185px 23px 184px;
 }

 @media (max-width: 1199px) {
 	.u-section-1 {
 		min-height: 948px;
 	}

 	.u-section-1 .u-group-1 {
 		height: auto;
 	}

 	.u-section-1 .u-group-2 {
 		height: auto;
 	}
 }

 @media (max-width: 991px) {
 	.u-section-1 .u-container-layout-2 {
 		padding-left: 30px;
 		padding-right: 30px;
 	}
 }

 @media (max-width: 767px) {
 	.u-section-1 .u-group-1 {
 		width: 540px;
 	}

 	.u-section-1 .u-container-layout-2 {
 		padding-left: 10px;
 		padding-right: 10px;
 	}
 }

 @media (max-width: 575px) {
 	.u-section-1 .u-group-1 {
 		width: 340px;
 	}

 	.u-section-1 .u-form-1 {
 		width: 340px;
 	}
 }

 @font-face {
 	font-family: 'JalnanGothicTTF';
 	font-style: normal;
 	font-weight: 400;
 	src: url("../fonts/JalnanGothicTTF.ttf");
 }


 #searchBtn span {
 	position: relative;
 	z-index: 1;
 }

 #searchBtn {
 	border: none;
 	display: block;
 	text-align: center;
 	cursor: pointer;
 	text-transform: uppercase;
 	outline: none;
 	overflow: hidden;
 	position: relative;
 	color: #fff;
 	font-weight: 700;
 	font-size: 15px;
 	background-color: #222;
 	padding: 10px 50px;
 	margin: 0 auto;
 	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
 	float: right;
 	margin: 3px 0 10px;
 	font-family: "JalnanGothicTTF";
 	border-radius: 8px;
 }

 #searchBtn:after {
 	content: "";
 	position: absolute;
 	left: 0;
 	top: 0;
 	height: 520%;
 	width: 170%;
 	background: #ff9962;
 	-webkit-transition: all .5s ease-in-out;
 	transition: all .5s ease-in-out;
 	-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
 	transform: translateX(-108%) translateY(-25%) rotate(45deg);
 }

 #searchBtn:hover:after {
 	-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
 	transform: translateX(-9%) translateY(-25%) rotate(45deg);
 }

 #map {
 	width: 500px;
 	height: 350px;
 	border: 1px solid gray;
 }

 @font-face {
 	font-family: 'SUITE-Regular';
 	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
 	font-weight: 400;
 	font-style: normal;
 }

 #username-a30d,
 #password-a30d,
 #text-1ce3,
 #text-413d,
 #text-2d79,
 #text-76e2,
 #select-e794,
 #select-f578 {
 	font-family: SUITE-Regular;
 }