 .u-section-1 {
 	background-image: linear-gradient(white, #ff9962);
 }

 .u-section-1 .u-sheet-1 {
 	min-height: 160px;
 }

 .u-section-1 .u-btn-1 {
 	font-family: JalnanGothicTTF;
 	font-weight: 400;
 	font-size: 1.8125rem;
 	margin: 63px auto 0 943px;
 	padding: 0;
 }

 .u-section-1 .u-btn-2 {
 	font-family: JalnanGothicTTF;
 	font-weight: 400;
 	font-size: 1.8125rem;
 	margin: -40px auto 0 807px;
 	padding: 0;
 }

 .u-section-1 .u-btn-3 {
 	font-family: JalnanGothicTTF;
 	font-weight: 400;
 	font-size: 1.8125rem;
 	margin: -42px auto 0 82px;
 	padding: 0;
 }

 .u-section-1 .u-btn-4 {
 	font-family: JalnanGothicTTF;
 	font-weight: 400;
 	font-size: 1.8125rem;
 	margin: -40px auto 0 198px;
 	padding: 0;
 }

 .u-section-1 .u-btn-5 {
 	font-family: JalnanGothicTTF;
 	font-weight: 400;
 	font-size: 1.8125rem;
 	margin: -40px auto 0 401px;
 	padding: 0;
 }

 .u-section-1 .u-btn-6 {
 	font-family: JalnanGothicTTF;
 	font-weight: 400;
 	font-size: 1.8125rem;
 	margin: -40px auto 60px 604px;
 	padding: 0;
 }

 @media (max-width: 1199px) {
 	.u-section-1 .u-btn-1 {
 		margin-left: 784px;
 	}

 	.u-section-1 .u-btn-2 {
 		margin-left: 607px;
 	}

 	.u-section-1 .u-btn-3 {
 		margin-left: 41px;
 	}

 	.u-section-1 .u-btn-4 {
 		margin-left: 0;
 	}

 	.u-section-1 .u-btn-5 {
 		margin-left: 242px;
 	}

 	.u-section-1 .u-btn-6 {
 		margin-right: 154px;
 		margin-left: 445px;
 	}
 }

 @media (max-width: 991px) {
 	.u-section-1 .u-btn-1 {
 		margin-left: 564px;
 	}

 	.u-section-1 .u-btn-2 {
 		margin-left: 428px;
 	}

 	.u-section-1 .u-btn-5 {
 		margin-left: 0;
 	}

 	.u-section-1 .u-btn-6 {
 		margin-right: 0;
 		margin-left: 225px;
 	}
 }

 @media (max-width: 767px) {
 	.u-section-1 .u-btn-1 {
 		margin-left: 384px;
 	}

 	.u-section-1 .u-btn-2 {
 		margin-left: 248px;
 	}

 	.u-section-1 .u-btn-6 {
 		margin-left: 45px;
 	}
 }

 @media (max-width: 575px) {
 	.u-section-1 .u-btn-1 {
 		margin-left: 184px;
 	}

 	.u-section-1 .u-btn-2 {
 		margin-left: 48px;
 	}

 	.u-section-1 .u-btn-6 {
 		margin-left: 41px;
 	}
 }

 @font-face {
 	font-family: 'JalnanGothicTTF';
 	font-style: normal;
 	font-weight: 400;
 	src: url("../fonts/JalnanGothicTTF.ttf");
 }

 @font-face {
 	font-family: 'DNFBitBitv2';
 	font-style: normal;
 	font-weight: 400;
 	src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
 }
 
 @font-face {
 	font-family: 'SUITE-Regular';
 	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
 	font-weight: 400;
 	font-style: normal;
 }

 #noReqText {
 	font-family: DNFBitBitv2;
 	font-size: 30px;
 	color: #444;
 }

 #defaultImg {
 	margin-top: 40px;
 	margin-bottom: 5px;
 	border-radius: 50%;
 	width: 500px;
 }

 #errandBox {
 	margin: 50px auto;
 	color: white;
 }

 .rwd-table {
 	width: 1100px;
 	height: 300px;
 	max-width: 100%;
 	border-collapse: collapse;
 	margin: 15px auto;

 	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	-webkit-transition: all 0.25s ease-in-out;
 	-moz-transition: all 0.25s ease-in-out;
 	-ms-transition: all 0.25s ease-in-out;
 	-o-transition: all 0.25s ease-in-out;
 	transition: all 0.25s ease-in-out;
 	color: black;
 	font-family: SUITE-Regular;
 }

 .rwd-table tr:first-child {
 	border-top: none;
 	background: rgb(255, 163, 128);
 	font-family: GangwonEduPowerExtraBoldA;
 	text-align: left;
 	width: 600px;
 	font-family: DNFBitBitv2;
 	font-size: 35px;
 	padding: 5px;
 	height: 80px;
 }

 .rwd.table tr:first-child td{
 	background-color: rgb(255, 163, 128);
 }


 .rwd-table tr:first-child td:nth-child(2) {
 	border-top: none;
 	background: rgb(255, 255, 255);
 	font-family: GangwonEduPowerExtraBoldA;
 	text-align: center;
 	font-size: 20px;
 	padding: 15px;
 	font-family: SUITE-Regular;
 	width: 180px;
 }
 

 .rwd-table tr td:nth-child(3) {
 	border-top: none;
 	background: rgb(255, 255, 255);
 	text-align: center;
 	font-size: 20px;
 	padding: 15px;
 	font-family: SUITE-Regular;
 }
 
 .rwd-table tr:nth-child(2) td:first-child{
	 width: 720px;
 }

 .rwd-table tr {
 	border-top: 1px solid #ddd;
 	border-bottom: 1px solid #ddd;
 	background-color: rgb(255, 255, 255);
 }
 
 #errandBox > table > tbody > tr:nth-child(2){
	 height: 10px;
	 padding: 0;
 }

 .rwd-table tr:nth-child(odd):not(:first-child) {
 	background-color: #f5f9fc;
 }

 .rwd-table th {
 	display: none;
 }

 .rwd-table td {
 	display: block;
 }

 .rwd-table td:first-child {
 	margin-top: .5em;
 }

 .rwd-table td:last-child {
 	margin-bottom: .5em;
 }

 .rwd-table td:before {
 	content: attr(data-th) ": ";
 	font-weight: bold;
 	width: 120px;
 	display: inline-block;
 	color: #000;
 }


 .rwd-table {
 	color: #333;
 	border-radius: .4em;
 	overflow: hidden;
 }

 .rwd-table tr {
 	border-color: #bfbfbf;
 }

 .rwd-table th,
 .rwd-table td {
 	padding: .5em 1em;
 }

 @media screen and (max-width: 601px) {
 	.rwd-table tr:nth-child(2) {
 		border-top: none;
 	}
 }

 @media screen and (min-width: 600px) {
 	.rwd-table tr:hover:not(:first-child) {
 		background-color: #d8e7f3;
 	}

 	.rwd-table td:before {
 		display: none;
 	}

 	.rwd-table th,
 	.rwd-table td {
 		display: table-cell;
 		padding: .25em .5em;
 	}

 	.rwd-table th:first-child,
 	.rwd-table td:first-child {
 		padding-left: 0;
 	}

 	.rwd-table th:last-child,
 	.rwd-table td:last-child {
 		padding-right: 0;
 	}

 	.rwd-table th,
 	.rwd-table td {
 		padding: 1em !important;
 	}
 }
 
 .button--moema {
  border-radius: 50px;
  color: #555;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid gray;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.button--moema.button--inverted {
  color: #37474f;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  background-color: rgb(255, 155, 106);	
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
  background-color: rgb(255, 169, 128);
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}