.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-text-1 {
  margin: 182px auto 60px;
}@font-face {
  font-family: 'JalnanGothicTTF';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JalnanGothicTTF.ttf");
}